body {
    color: #666;
    /*font: 300 15px/15px Roboto, Arial, Helvetica;*/
    background-color: rgba(236, 240, 241, 1.0);
    -webkit-font-smoothing: antialiased;
}

a {
    color: #00a9c6;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.btn, a, .btn:hover, a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
}

h1, h2, h3, h4 {
    margin: 0;
    line-height: 1em;
}

h1 {
    font: 300 2.5em 'Great Vibes', cursive;
    margin-bottom: 1.5em;
    color: white;
}

h2 {
    font: 300 2.5em 'Open Sans', sans-serif;
    margin-bottom: 1.5em;
    color: white;
}

h3 {
    font: 300 2em 'Open Sans', sans-serif;
    margin: 1em 0 1em 0;
}

.titles {
    font-weight: bold;
}

h4 {
    font: 300 1.5em 'Open Sans', sans-serif;
    margin-bottom: 1em;
}

h4 i {
    margin-right: 0.5em;
}

p {
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 1.7em;
}

.spacer {
    padding: 6em 0;
}

.footerspacer {
    padding: 1em 0;
}

.btn {
    border: none;
    border-radius: 0;
    padding: 1em 4em;
    background: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.btn:hover, .btn:active {
    color: #fff;
}

.btn-default {
    color: #ccc;
    border: 1px solid #aaa;
}

.btn-default:hover, .btn-default:active {
    background: rgba(0, 0, 0, 0.8);
}

.btn-primary {
    color: #fff;
    background: #00a9c6;
    width: 100%;
    outline: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #1BC0DC;
    box-shadow: none;
}

.navbar-nav>li>a {
    font-size: 1em;
    line-height: 3.6em;
    font-weight: bold;
}

.navbar-fixed-top {
    top: 0px;
}

.navbar-inverse {
    background: #111;
}

.navbar-default {
    background-color: rgba(68,68,68, .98);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: white;
}

#head, .carousel {
    margin-top: 0;
}

#home {
    padding-top: 6em;
}

.carousel-caption {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}

.caption-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.caption-info {
    display: table-cell;
    vertical-align: middle;
}

.caption-info p {
    font-size: 1.25em;
}

.caption-info .btn i {
    margin-right: 0.75em;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.carousel-control {
    z-index: 1000;
}

.profilepic {
    width: 12em;
    height: 12em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    border-radius: 50%;
    margin: 1.0em 1em 0em 1em;
    border-style: solid;
    /*position: relative;
    left: 50%;*/
}


/*about*/

.about {
    background-color: rgba(236, 240, 241, 1.0);
    margin-left: 0;
    margin-right: 0;
}

.about.spacer {
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 0;
}


/*.process {
  background-color: rgba(236, 240, 241,1.0);
}*/

.process ul li {
    width: 10em;
    height: 10em;
    border: 1px solid rgb(0,81,146);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    border-radius: 50%;
    margin: 1.0em;
    line-height: 13.5em;

}

.process ul li span {
    line-height: 2em;
    display: inline-block;
    font-weight: 300;
}

.process ul li span i {
    font-size: 3em;
}

.process ul li span b {
    display: block;
    font-size: 1em;
    font-weight: 300;
}



/*works*/



#works {
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: rgb(176,194,204);
}

#works figcaption a {
    border: 1px solid #fff;
    margin-top: 1em;
    display: inline-block;
    color: #fff;
    padding: 0 2em;
}

#works figcaption a:hover {
    text-decoration: none;
    padding: 0 3em;
}

figure {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*works*/


.footer {
    background-color: #444444;
    color: #fff;
    font-size: 1em;
    color: #aaa;
}

.footer a {
    color: #aaa;
    margin: 0 1em;
}

/*@media (max-width: 1200px) {
    body {
        font: 300 13px/13px Roboto, Arial, Helvetica;
    }
    .navbar-brand {
        padding-top: 11px;
    }
    .process ul li {
        margin: 0 0.5em;
    }
    .grid figure h2 {
        font: 700 1.5em Roboto, Arial, Helvetica;
    }
    figure.effect-oscar figcaption {
        padding: 12%;
    }
    figure.effect-oscar figcaption::before, figure.effect-chico figcaption::before {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }
    .partners img {
        margin: 0 25px 25px 0;
    }
}*/
/*
@media (max-width: 900px) {
    h1 {
        font: 300 2.1em 'Great Vibes', cursive;
        margin-bottom: 1.5em;
        color: white;
    }
    h4 {
        font: 300 1.3em Roboto, Arial, Helvetica;
    }
    .btn {
        padding: 1em 2em;
    }
    .partners img {
        margin: 0 15px 25px 0;
        width: 157px;
    }
    .process ul li {
        width: 9em;
        height: 9em;
        margin: 1em;
    }
    figure.effect-chico figcaption {
        padding: 2em;
    }
    figure.effect-oscar figcaption {
        padding: 20%;
    }
    figure.effect-chico figcaption::before {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
    }
    .grid figure.effect-chico p {
        font-size: 0.6em;
        line-height: 1.5em;
    }
}*/


/*@media (max-width: 767px) {
    body {
        font: 300 12px/12px Roboto, Arial, Helvetica;
    }
    .navbar-nav>li>a {
        line-height: 1em;
    }
    .navbar-brand {
        padding: 7px;
    }
    .navbar-brand img {
        height: 37px;
    }
    .navbar-toggle {
        margin-top: 12px;
    }
    .carousel-caption, .carousel-control, .carousel-indicators {
        display: none;
    }
    h2.text-center {
        text-align: left;
        font-size: 1.7em;
    }
    h4 {
        font: 300 1.2em Roboto, Arial, Helvetica;
    }
    #partners h2 {
        padding: 0 1em;
    }
    #home {
        padding-top: 5em;
    }
    .partners {
        display: block;
        float: left;
    }
    .partners img {
        width: 120px;
    }
    .about.spacer {
        padding-left: 2em;
        padding-right: 2em;
    }
    .spacer {
        padding: 3em 0 0 0;
    }
    .process ul li {
        margin-bottom: 1em;
    }
    .highlight-info .overlay {
        padding-bottom: 2em;
    }
    .grid.team div {
        margin-top: 10px;
        padding: 0;
    }
    figure.effect-chico figcaption {
        padding: 1.5em;
    }
    .footer {
        margin-top: 2em;
        padding-bottom: 2em;
    }
}*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timeline ul {
    background: rgba(236, 240, 241,1.0);
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(189, 195, 199,1.0);
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: rgba(189, 195, 199,1.0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgba(189, 195, 199,1.0) transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent rgba(189, 195, 199,1.0);
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #F45B69;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #F45B69 transparent transparent;
    }
}
